body {
  padding-top: 100px;
}

#equation {
  font-size: 48px;
  float: left;
  margin: 15px;
}

.equation-container {
  padding-top: 50px;
  width: 300px;
  margin: 0 auto;
}

.button-container {
  width: 250px;
  padding-top: 50px;
  margin: 0 auto;
}

#answer {
  font-size: 48px;
  width: 110px;
  margin-top: 21px;
  height: 55px;
} 
