body {
  padding-top: 10px;
  background-color: #2ECCFA;
  color: white;
}

.soil {
  position: fixed;
  top: 70%;
  left: -10px;
  background: #04B404;
  width: 120%;
  height: 30%;
  overflow: hidden;
  z-index: 2;
}

.btn {
  border: 6px solid #8D4516;
  border-radius: 10px;
  background-color: #C2680D;
  color: white;
}

.branch {
  position: fixed;
  top: 110px;
  left: -10px;
  width: 160px;
  height: 16px;
  border: 8px solid #8D4516;
  border-radius: 10px;
  background-color: #C2680D;
  color: white;
  z-index: 200;
  transform: rotate(-4deg);
}

.tree-top-2 {
  position: fixed;
  top: -90px;
  left: -150px;
  width: 360px;
  height: 360px;
  border: 0px;
  border-radius: 50%;
  background-color: #04B404;
  z-index: 4;
  overflow: hidden;
}

.tree-top {
  position: fixed;
  top: -50px;
  left: -100px;
  width: 500px;
  height: 500px;
  border: 0px;
  border-radius: 50%;
  background-color: #0B610B;
  z-index: 1;
  overflow: hidden;
}

.tree {
  position: fixed;
  top: 100px;
  left: 0px;
  width: 60px;
  height: 100%;
  border: 8px solid #8D4516;
  border-radius: 10px;
  background-color: #8D4516;
  color: white;
  z-index: 3;
  overflow: hidden;
}

.tree-2 {
  position: absolute;
  top: 380px;
  left: 90px;
  width: 100px;
  height: 400px;
  border: 8px solid #9B5602;
  border-radius: 10px;
  background-color: #9B5602;
  color: white;
  z-index: 0;
  overflow: hidden;
}

.owl {
  font-size: 78px;
  float: left;
  position: fixed;
  top: 30px;
  left: 20px;
  z-index: 201;
}

.messages {
  position: fixed;
  top: 35px;
  left: 100px;
  color: black;
  padding: 15px;
  font-size: 24px;
  border-radius: 10px;
  background-color: white;
  width: 400px;
  z-index: 10;
}

.messages:after {
	content: '';
	position: absolute;
	left: 10px;
	top: 30px;
	width: 0;
	height: 0;
	border: 16px solid transparent;
	border-right-color: white;
	border-left: 0;
	margin-top: -20px;
	margin-left: -20px;
}

#equation {
  font-size: 48px;
  float: left;
  margin: 10px;
}

.equation-container {
  margin: 20px;
  width: 300px;
  margin: 0 auto;
  z-index: 1000;
  position: fixed;
  top: 30%;
  left: 30%;
  background-color: white;
  opacity: 0.85;
  color: black;
  border-radius: 10px;
}

.button-container {
  position: fixed; 
  bottom: 10%;
  right: 10%;
  z-index: 15;
}

.action-button {
  z-index: 15;
  color: white;
  font-size: 28px;
  width: 50px;
}

#answer {
  font-size: 48px;
  width: 110px;
  margin-top: 21px;
  height: 55px;
} 
